@CHARSET "EUC-KR";

html, body {
	height :98%;
}

#container {
	width : 100%;
	height : 100%;
	margin : 0px;
	padding : 0px;
}

#screen {
	width : 80%;
	height : 100%;
	float:left;
	/* background-color: red; */
}

#map {
	width : 80%;
	height : 100%;
	float:left;
	/* background-color: red; */
}

#menu {
	width:18%;
	height : 100%;
	float:right;
}
